In [1]:
import pandas as pd

In [2]:
vendas_df = pd.read_excel('Vendas.xlsx')

In [3]:
print(vendas_df)

       Código Venda       Data              ID Loja            Produto  \
0                 1 2019-01-01   Iguatemi Esplanada     Sapato Estampa
1                 1 2019-01-01   Iguatemi Esplanada           Camiseta
2                 1 2019-01-01   Iguatemi Esplanada      Sapato Xadrez
3                 2 2019-01-02       Norte Shopping            Relógio
4                 2 2019-01-02       Norte Shopping       Chinelo Liso
...             ...        ...                  ...                ...
93905         65012 2019-11-30  Shopping Vila Velha     Mochila Xadrez
93906         65013 2019-11-30    Ribeirão Shopping  Pulseira Listrado
93907         65013 2019-11-30    Ribeirão Shopping     Cueca Listrado
93908         65014 2019-11-30     Shopping Morumbi     Pulseira Linho
93909         65014 2019-11-30     Shopping Morumbi      Casaco Xadrez

       Quantidade  Valor Unitário  Valor Final
0               1             358          358
1               2             180          360
2               1             368          368
3               3             200          600
4               1              71           71
...           ...             ...          ...
93905           2             283          566
93906           2              79          158
93907           3              67          201
93908           5             114          570
93909           4             259         1036

[93910 rows x 7 columns]

In [4]:
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [5]:
display(vendas_df.head(10))

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

In [6]:
display(vendas_df.shape)

(93910, 7)

In [7]:
display(vendas_df.describe())

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

In [27]:
produtos = vendas_df['Produto']
display(produtos)

0                 Sapato Estampa
1                       Camiseta
2                  Sapato Xadrez
3         Camisa Gola V Listrado
4                Sapato Listrado
                   ...
100994             Short Estampa
100995             Tênis Estampa
100996             Calça Estampa
100997                Terno Liso
100998            Sapato Estampa
Name: Produto, Length: 100999, dtype: object

In [8]:
produtos = vendas_df[['Produto', 'ID Loja', 'Valor Unitário']]
display(produtos)

                 Produto              ID Loja  Valor Unitário
0         Sapato Estampa   Iguatemi Esplanada             358
1               Camiseta   Iguatemi Esplanada             180
2          Sapato Xadrez   Iguatemi Esplanada             368
3                Relógio       Norte Shopping             200
4           Chinelo Liso       Norte Shopping              71
...                  ...                  ...             ...
93905     Mochila Xadrez  Shopping Vila Velha             283
93906  Pulseira Listrado    Ribeirão Shopping              79
93907     Cueca Listrado    Ribeirão Shopping              67
93908     Pulseira Linho     Shopping Morumbi             114
93909      Casaco Xadrez     Shopping Morumbi             259

[93910 rows x 3 columns]

In [9]:
display(vendas_df.loc[99])

Código Venda                       72
Data              2019-01-02 00:00:00
ID Loja              Shopping Morumbi
Produto                 Sapato Xadrez
Quantidade                          4
Valor Unitário                    368
Valor Final                      1472
Name: 99, dtype: object

In [10]:
display(vendas_df.loc[45:50])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
45,34,2019-01-02,Iguatemi Esplanada,Camisa Gola V Liso,2,118,236
46,35,2019-01-02,Parque Dom Pedro Shopping,Relógio,2,200,400
47,35,2019-01-02,Parque Dom Pedro Shopping,Sapato,2,350,700
48,36,2019-01-02,Rio Mar Shopping Fortaleza,Meia Listrado,1,37,37
49,38,2019-01-02,Shopping Vila Velha,Meia Xadrez,3,41,123
50,38,2019-01-02,Shopping Vila Velha,Relógio,1,200,200

In [11]:
vendas_df['ID Loja'] == 'Parque Dom Pedro Shopping'
display(vendas_df.loc[vendas_df['ID Loja'] == 'Parque Dom Pedro Shopping'])

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
27,22,2019-01-02,Parque Dom Pedro Shopping,Meia,1,30,30
28,22,2019-01-02,Parque Dom Pedro Shopping,Meia Linho,2,78,156
29,22,2019-01-02,Parque Dom Pedro Shopping,Calça Liso,2,190,380
46,35,2019-01-02,Parque Dom Pedro Shopping,Relógio,2,200,400
47,35,2019-01-02,Parque Dom Pedro Shopping,Sapato,2,350,700
...,...,...,...,...,...,...,...
93790,64937,2019-11-30,Parque Dom Pedro Shopping,Calça Linho,5,211,1055
93791,64937,2019-11-30,Parque Dom Pedro Shopping,Relógio,1,200,200
93792,64937,2019-11-30,Parque Dom Pedro Shopping,Sunga Estampa,2,120,240
93807,64948,2019-11-30,Parque Dom Pedro Shopping,Cueca Estampa,2,66,132
93817,64952,2019-11-30,Parque Dom Pedro Shopping,Camiseta Linho,2,223,446

In [12]:
display(vendas_df.loc[vendas_df['ID Loja'] == 'Parque Dom Pedro Shopping', ['ID Loja', 'Produto', 'Valor Unitário']])

                         ID Loja         Produto  Valor Unitário
27     Parque Dom Pedro Shopping            Meia              30
28     Parque Dom Pedro Shopping      Meia Linho              78
29     Parque Dom Pedro Shopping      Calça Liso             190
46     Parque Dom Pedro Shopping         Relógio             200
47     Parque Dom Pedro Shopping          Sapato             350
...                          ...             ...             ...
93790  Parque Dom Pedro Shopping     Calça Linho             211
93791  Parque Dom Pedro Shopping         Relógio             200
93792  Parque Dom Pedro Shopping   Sunga Estampa             120
93807  Parque Dom Pedro Shopping   Cueca Estampa              66
93817  Parque Dom Pedro Shopping  Camiseta Linho             223

[3612 rows x 3 columns]

In [13]:
display(vendas_df.loc[90000:90001, ['Produto', 'ID Loja', 'Valor Unitário']])

               Produto                   ID Loja  Valor Unitário
90000    Cinto Estampa  Shopping União de Osasco             209
90001  Camisa Listrado            Shopping Barra             108

In [14]:
vendas_dez_df = pd.read_excel('Vendas - Dez.xlsx')

In [15]:
vendas_df = vendas_df.append(vendas_dez_df)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266

In [16]:
vendas_df['Imposto'] = vendas_df['Valor Final'] * 0.3
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,107.4
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,108.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,110.4
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,180.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,21.3
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,61.2
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,324.0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,26.1
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,32.4
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,79.8

In [17]:
vendas_df['Código Venda'] = vendas_df['Código Venda'].fillna(0)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,107.4
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,108.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,110.4
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,180.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,21.3
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,61.2
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,324.0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,26.1
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,32.4
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,79.8

In [18]:
vendas_df = vendas_df.dropna()
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,107.4
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,108.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,110.4
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,180.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,21.3
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,61.2
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,324.0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,26.1
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,32.4
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,79.8

In [19]:
vendas_df = vendas_df.drop('Código Venda', axis=1)
display(vendas_df)

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Imposto
0,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,107.4
1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,108.0
2,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,110.4
3,2019-01-02,Norte Shopping,Relógio,3,200,600,180.0
4,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,21.3
...,...,...,...,...,...,...,...
7084,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,61.2
7085,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,324.0
7086,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,26.1
7087,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,32.4
7088,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,79.8

In [20]:
 faturamento_produto = vendas_df.groupby('Produto').sum()
display(faturamento_produto)

                  Quantidade  Valor Unitário  Valor Final   Imposto
Produto
Bermuda                 1815          124950       272250   81675.0
Bermuda Estampa         1726          135538       291694   87508.2
Bermuda Linho           2024          179010       394680  118404.0
Bermuda Liso            1756          127170       275692   82707.6
Bermuda Listrado        1799          138224       293237   87971.1
...                      ...             ...          ...       ...
Tênis Estampa           1788          215040       457728  137318.4
Tênis Linho             1832          249900       538608  161582.4
Tênis Liso              1784          221046       474544  142363.2
Tênis Listrado          1836          220604       481032  144309.6
Tênis Xadrez            1775          219891       459725  137917.5

[120 rows x 4 columns]

In [21]:
faturamento_produto = vendas_df[['Produto', 'Valor Final']].groupby('Produto').sum()
display(faturamento_produto)

                  Valor Final
Produto
Bermuda                272250
Bermuda Estampa        291694
Bermuda Linho          394680
Bermuda Liso           275692
Bermuda Listrado       293237
...                       ...
Tênis Estampa          457728
Tênis Linho            538608
Tênis Liso             474544
Tênis Listrado         481032
Tênis Xadrez           459725

[120 rows x 1 columns]

In [22]:
transacoes_loja = vendas_df['ID Loja'].value_counts()
display(transacoes_loja)

Shopping Vila Velha                 4234
Palladium Shopping Curitiba         4210
Norte Shopping                      4179
Rio Mar Shopping Fortaleza          4118
Bourbon Shopping SP                 4116
Iguatemi Campinas                   4108
Rio Mar Recife                      4099
Shopping Center Leste Aricanduva    4093
Shopping SP Market                  4080
Shopping Ibirapuera                 4051
Novo Shopping Ribeirão Preto        4049
Ribeirão Shopping                   4048
Salvador Shopping                   4030
Shopping Center Interlagos          4021
Shopping Iguatemi Fortaleza         4021
Center Shopping Uberlândia          4013
Shopping Eldorado                   4002
Passei das Águas Shopping           4000
Shopping União de Osasco            3995
Iguatemi Esplanada                  3980
Shopping Barra                      3962
Shopping Morumbi                    3960
Parque Dom Pedro Shopping           3902
Shopping Recife                     3891
Shopping Midway Mall                3837
Name: ID Loja, dtype: int64

In [23]:
gerentes_df = pd.read_excel('Gerentes.xlsx')
display(gerentes_df)

                             ID Loja   Gerente
0                 Iguatemi Esplanada  Salvador
1                     Norte Shopping     Joana
2         Rio Mar Shopping Fortaleza     Maria
3                     Shopping Barra   Letícia
4                Shopping Ibirapuera    Helena
5                  Iguatemi Campinas     Luiza
6   Shopping Center Leste Aricanduva     Julia
7          Passei das Águas Shopping    Nicole
8                    Shopping Recife     André
9               Shopping Midway Mall      João
10               Bourbon Shopping SP    Marcus
11        Shopping Center Interlagos    Amanda
12         Parque Dom Pedro Shopping     Carol
13        Center Shopping Uberlândia  Andressa
14          Shopping União de Osasco     Lilia
15                 Shopping Eldorado     Paulo
16               Shopping Vila Velha     Pablo
17      Novo Shopping Ribeirão Preto     Diana
18                    Rio Mar Recife       Ana
19       Palladium Shopping Curitiba    Flavia
20                Shopping SP Market  Fernanda
21                 Ribeirão Shopping     Fábio
22       Shopping Iguatemi Fortaleza      Joel
23                  Shopping Morumbi    Gisele
24                 Salvador Shopping    Mateus

In [24]:
vendas_df = vendas_df.merge(gerentes_df)
display(vendas_df)

,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Imposto,Gerente
0,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,107.4,Salvador
1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,108.0,Salvador
2,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,110.4,Salvador
3,2019-01-02,Iguatemi Esplanada,Camisa Gola V Listrado,2,116,232,69.6,Salvador
4,2019-01-02,Iguatemi Esplanada,Sapato Listrado,1,363,363,108.9,Salvador
...,...,...,...,...,...,...,...,...
100994,2019-12-25,Salvador Shopping,Short Estampa,2,96,192,57.6,Mateus
100995,2019-12-25,Salvador Shopping,Tênis Estampa,5,256,1280,384.0,Mateus
100996,2019-12-25,Salvador Shopping,Calça Estampa,4,177,708,212.4,Mateus
100997,2019-12-26,Salvador Shopping,Terno Liso,3,720,2160,648.0,Mateus
100998,2019-12-26,Salvador Shopping,Sapato Estampa,5,358,1790,537.0,Mateus

In [25]:
transacoes_loja = vendas_df[['ID Loja', 'Gerente']].value_counts()
display(transacoes_loja)

ID Loja                           Gerente
Shopping Vila Velha               Pablo       4234
Palladium Shopping Curitiba       Flavia      4210
Norte Shopping                    Joana       4179
Rio Mar Shopping Fortaleza        Maria       4118
Bourbon Shopping SP               Marcus      4116
Iguatemi Campinas                 Luiza       4108
Rio Mar Recife                    Ana         4099
Shopping Center Leste Aricanduva  Julia       4093
Shopping SP Market                Fernanda    4080
Shopping Ibirapuera               Helena      4051
Novo Shopping Ribeirão Preto      Diana       4049
Ribeirão Shopping                 Fábio       4048
Salvador Shopping                 Mateus      4030
Shopping Center Interlagos        Amanda      4021
Shopping Iguatemi Fortaleza       Joel        4021
Center Shopping Uberlândia        Andressa    4013
Shopping Eldorado                 Paulo       4002
Passei das Águas Shopping         Nicole      4000
Shopping União de Osasco          Lilia       3995
Iguatemi Esplanada                Salvador    3980
Shopping Barra                    Letícia     3962
Shopping Morumbi                  Gisele      3960
Parque Dom Pedro Shopping         Carol       3902
Shopping Recife                   André       3891
Shopping Midway Mall              João        3837
dtype: int64

In [ ]:
vendas_df['Comissão'] = vendas_df['Comissão'].fillna(vendas_df['Comissão'].mean())